 <!DOCTYPE html>
 <html>
 <head>
     <meta charset='utf-8'>
     <!-- <meta http-equiv='X-UA-Compatible' content='IE=edge'> -->
     <title>Page Title</title>
     <link rel="stylesheet" href="css/addProduct.css">
     <script src="/js/add_note.js" defer></script>
 </head>
 <body>
  
 
   
   

    <header class="main_header">
    <div class="header_container">
  
        
      
            <div class="note_title">
              <img src="images/arrow-left.svg" alt="" class="backButton">
             <input type="text"  placeholder="Title"  class="note_title_input">
            </div>

            <div class="note_body">
             <textarea   cols="30" rows="10" name="noteBody" class="Note-body-nput">
             </textarea>
             <button class="save_note"><img src="/images/save.svg" alt=""></button>
            </div>
            
    </div>
    </header>

     
 </body>
 </html>