<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('includes/navigation.ejs') %>

    
    <h1 class="erroHeading"> Page Not Found </h1>


   <div class="sorry"> <img src="/images/frown.svg" alt="" ></div>

   <%- include('includes/end.ejs') %>