::-webkit-scrollbar
{
   width: 6px;
}
::-webkit-scrollbar-thumb
{
   background-image: linear-gradient(to bottom,#bd426f 50%,#e65100 );
   border-radius: 100px;
}


*{
margin: 0px;
padding: 0px;
 }

 body
 {
    box-sizing: border-box;
    background-color: #f6f6f9;
    overflow: hidden;
 }
 main{
    opacity: 0;
    transition: 1s;
    overflow: hidden;
    height: 1px;
 }
 .loading_page
 {
width: 100%;
height: 100vh;
transition: 1s;
/* display: none; */
z-index: 10000;
 }

 .loading_logo
 {
text-align: center;
padding-top: 100px;
font-size: 10rem;
font-family: 'Karumbi';
background-color: #ff8177;  
background-image: linear-gradient(to bottom,#bd426f 50%,#e65100 );
background-size: 100%;
-webkit-background-clip: text;
-moz-background-clip: text;
-webkit-text-fill-color: transparent;
-moz-text-fill-color:transparent;
 }

 

 .backgrop_close
 {
    transition: 0.5s;
    color: #fff;
    transform: translatey(10rem);
    /* position: fixed;
    bottom: -100px; */
 z-index: 1000;
/* background: black;
height: 100vh;
width: 100%; */
 }

 .header_container
 {
width: 1000%;
height: 50px;
 }

 .header_container
 {
width:40%;
margin: 20px auto;
 }
 .search-input_container
 {
width: 100%;
display: flex;
height: 30px;
padding: 10px 20px;
border-radius: 100rem;
background-color: #eee;
box-shadow: 0 0 2px #999;
 }
 .search-input_container button
 {
width: 30px;
border: none;
cursor: pointer;
background-color: transparent;
 }

 .search_input
 {
width: 100%;
height: 30px;
outline: none;
border: none;
background-color: transparent;
padding-left: 2rem;
font-size: 16px;
color: #545151;
font-family: 'ubuntu thin';
 }


 .menu_sercle
 {
width: 130px;
height: 110px;
border-bottom-left-radius: 1000%;
background-color: rgba(240,63,123, 0.7);
position: fixed;
right: -5px;
top: -1px;
/* display: flex;
/* align-items: center; */
/* justify-content: center; */ 
z-index: 1;
/* flex-direction: column; */
transition: 1s;
 }

 
 .actived
 {
   animation:  microphone-animation infinite 2s;
   width: calc(130px * 3) ;
height: calc(110px * 3) ;
 }
 .toggle_actived
 {
    display: block;
 }

 .toggle-container
 {
display: flex;
margin: 50px auto ;
position: relative;
left: 50px;
width: 400px;
gap: 30px;
 }
 .toogle_place
 {
display: none;
 }
 .toggle_identification
 {
padding-top:5px ;
font-family: 'ubuntu thin';
color: #fff;
 }

 .toggle_box
 {
display: flex;
border: 2px solid #fff;
background-color: transparent;
width: 60px;
justify-content: space-between;
border-radius: 100px;
padding:6px 10px;
position: relative;
}
.image_toggle
{
width: 20px;
cursor: pointer;
}

.toggle_btn
{
width: 25px;
height: 25px;
left: 5px;
background-color: #fff;
cursor: pointer;
position: absolute;
border-radius: 100%;
bottom: 3.5px;
transition: 1s;
}



 @keyframes microphone-animation {
    0%{
       transform: scale(0.9);
    }
    70%{
       
       box-shadow: 0 0 0 40px  rgba(240,63,123, 0.3) ; 
        
    }

    100%{
        transform: scale(0.9);
    }
 }

 .menu_btn_container
 {
position: absolute;
left: 50%;
bottom: 50%;
 }

 .menu_btn
 {
    width: 25px;
    position: relative;
    bottom: 1rem;
    left: 1rem;
    cursor: pointer;
 }

 .add_btn
 {
width: 60px;
height: 60px;
border-radius: 100%;
background:linear-gradient(#9b4363 , rgba(240,63,123, 0.8));
display: flex;
align-items: center;
justify-content: center;
position: fixed;
bottom: 3rem;
right: 1rem;
cursor: pointer;
z-index: 1;
 }

 .add_btn img
 {
    width: 20px;
 }

 .note_container
 {
display: grid;
grid-template-columns: 20% 30%;
max-width: 1200px;
margin:100px auto;
justify-content: center;
gap: 20px;
 }

 .note_container :nth-child(1)
 {
    padding-bottom: 40px;
 }

 .note
 {
max-width: 300px;
background-color: #fff;
margin: auto;
padding:10px 20px;
box-shadow:  0 0 3px #ddd;
border-radius: 10px;
position: relative;
text-decoration: none;
 }
 .note h1
 {
    text-decoration: none;
 }
 .note_link h1
 {
text-decoration: none;
color: #333
;
 }

 .note p
 {
line-height: 1.5rem;
cursor: pointer;
font-family: 'ubuntu';
width: 100%;
color: #666;
text-align: center;
 }
 .parContainer
 {
width: 100%;
flex-wrap: wrap;
overflow-x: hidden;
overflow-y: none;
 }
 .parContainer p
 {
width: 100%;
 }
 .dotted
 {
position: absolute;
 }
 .note p:nth-child(2)
 {
    padding: 20px 0px;
 }

 .note h1
 {
font-weight: 100;
font-family: 'ubuntu';
 }

 .transhBbtn
 {
width: 20px;
height: 20px;
border: none;
border: none;
background-color: transparent;
 }
 .viwe_btn
 {
    position: absolute;  
 }


 
 .transhBbtn img
 {
width: 30px;
cursor: pointer;
position: absolute;
bottom: -20px;
right: 10px;
 }



 .no_list_box
 {
max-width: 500px;
margin: auto;
padding: 0 10px;
 }
 .xvmx
 {
display: flex;
max-width: 1000px;
margin: auto;
align-items: center;
gap: 2rem;
justify-content: center;
 }
 .emoji
 {
 font-size: 5rem;
 margin-top: 3rem;
 }
 .no_list_box img
 {
width: 100%;
 }

 .no_list
 {
font-family: 'Karumbi';
text-align: center;
padding-top: 50px;
font-size: 100px;
background-color: #ff8177;  
background-image: linear-gradient(to bottom,#bd426f 50%,#e65100 );
background-size: 100%;
-webkit-background-clip: text;
-moz-background-clip: text;
-webkit-text-fill-color: transparent;
-moz-text-fill-color:transparent;
 }


 .forSearch
 {
margin-top: 3rem;
 }

 .SearchedTitle
 {
   font-family: 'Z003';
   text-align: center;
   padding-top: 50px;
   font-size: 100px;
   background-color: #ff8177;  
   background-image: linear-gradient(to bottom,#bd426f 50%,#e65100 );
   background-size: 100%;
   -webkit-background-clip: text;
   -moz-background-clip: text;
   -webkit-text-fill-color: transparent;
   -moz-text-fill-color:transparent;
 }

 .backarrow{
 width: 20px;
 cursor: pointer;
 margin: 1rem;
 }




 /*DARK MODE SETTING*/

 .blackBackground
 {
background-color: #222;
transition: 1s;
 }
 .toogleBtnToleft
 {
margin-left: 50%;
position: absolute;
right:1px;
 }

 .inputDark

 {
    background-color: #444;
    box-shadow: 0 0 2px #666;
    color: white;
 }
 .inputDark input
 {
    color: #fff;
    font-family: sans-serif;
 }
.noteBlack
{
   background-color: rgb(85, 85, 85, 0.5);
   box-shadow: 0 0 #555;
   transition: 1s;
}
.darkColor
{
   background-color: transparent;
color: #eee;
}

/* displaying the note */

.view
{
position: absolute;
width: 200px;
height: 50px;
padding: 10px;
background-color: #fff;
color: #333;
border-radius: 5px;
text-align: center;
text-decoration: none;
z-index: 11000000;
display: none;
}

.view h1
{
text-decoration: none;
color: black;
}
a
{
   text-decoration: none;
   color: #333;
}
/* 
//image_el */

.image_container__
{
align-items:center;
display: grid;
grid-template-columns: 50% 60%;
justify-content:center;
width: 60%;
margin:10rem auto;
/* gap: 10px; */
border-collapse: collapse;
padding: 0px 10px;
}
.image_box
{
max-width:400px;
padding: 5px;
border-radius: 5px;
position: relative;
justify-self: flex-end;
box-shadow: 0 0 2vw rgba(0,0,0, 0.3);
margin: 10px;
}

.image_loaded
{
width: 100%;
}
.drop_box
{
position: absolute;
width: 20px;
padding: 10px;
background: rgba(0,0,0, 0.7);
height: 20px;
border-radius: 100%;
display: flex;
align-items: center;
justify-content: center;
border: 1px solid #fff;
top: 10px;
margin:10px;
cursor: pointer;
box-shadow: 0 0 3px #000
;}
.drop_box img
{
width: 90%;
}
/* 
profil  */

.profile
{
cursor: pointer;
top: 10px;
left: 10px;
position: absolute;
width: 50px;
height: 50px;
display: flex;
}
.profile img
{
width: 100%;
height: 100%;
border-radius: 50%;
padding: 2px;
border: 2px solid #666;
background-color: rgb(0, 0, 0, 0.5);
}

/* //error */
.uploading_error
{
width: 100%;
height: 100vh;
z-index: 50000;
background-color: #fff;
position: fixed;
}

/* //delete Warning */
.worning
 {
 display: none;
 width: 100%;
 height: 380px;
 background: #fff;
 z-index: 100;
 position: fixed;
bottom: 1px;
box-shadow: 0 0 3vw rgb(0,0,0, 0.3);
animation:  sladInFromBottom 0.5s ease;
 }
 .warning_img
{
width: 50px;
margin:10px auto;
}
.warning_img img
{
width: 100%;
}
.worning h3
{
    text-align: center;
    color: rgb(238, 20, 20);
    font-family:sans-serif;
}
.back_drop_2
{
width: 100%;
height: 100vh;
position: fixed;
z-index: 99;
top: -1px;
background-color: rgb(0,0,0,0.7);
display: none;
}
.worning p
{
    text-align: center;
    color: rgb(80, 74, 74);
    padding: 10px 20px;
    line-height: 1.5rem;
    font-family: sans-serif;
    font-weight: bold;
}
@keyframes sladInFromBottom
{
    0%{
        transform: translatey(100%);
    } 

    100%
    {
        transform: translateX(0);
    }

}

.WrningBack_drop
{
z-index: 2;
display: none;
width: 100%;
height: 100vh;
position: fixed;
background-color: rgb(0,0,0, 0.5);
backdrop-filter: blur(15px);
top: -1px;
}
.btns_container
{
display: flex;
align-items: center;
justify-content: center;
gap: 30px;
margin: 50px 0px;
}
.btns_container button
{
   padding: 15px 30px;
   cursor: pointer;
}
.btns_container button:nth-child(1)
{
   background-color: hsl(0, 87%, 53%);
   color: #fff;
   font-family: 'ubuntu';
   border: none;
}
.btns_container button:nth-child(2)
{
   background-color: rgb(24, 189, 24);
   color: #fff;
   font-family: 'ubuntu';
   border: none;
}


/* //live search  */
.live_search_box
{
width: 100%;
box-shadow: 0 0 3px rgb(0, 0, 0, 0.3);
z-index: 50;
position: relative;
margin-top: 10px;
border-radius: 5px;
background-color: white;
padding: 20px;
gap: 10px;
display: none;
}
.live_search_box a
{
color: rgb(65, 65, 184) ;
font-family: sans-serif;
border-bottom: 1px solid rgb(170, 156, 156, 0.3);
padding:10px 3px;
}
.live_search_box h4
{
 color:   rgb(65, 65, 184) ;
text-align: center; 
font-family: 'ubuntu thin';
padding: 10px 0px;
}
.live_search_box p
{
text-align: center;
font-family: 'ubuntu thin';
}
.close_search_model
{
width: 13px;
cursor: pointer;
margin: 10px 0px;
}
.result-container
{
display: flex;
flex-direction: column;
}